
.pagination {
    text-align: center;
    margin-top: 2rem;
}
.pagination a {
    color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #007BFF;
    margin: 0 3px;
    border-radius: 4px;
}
.pagination a:hover {
    background-color: #007BFF;
    color: white;
}
.pagination .active {
    background-color: #007BFF;
    color: white;
}
.sub-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px blue;
    background-color: #fff;
    text-align: center;
}
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 10px;
}
h2{
    
    margin-top: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    margin: 2rem;
}
p {
    font-size: 14px;
}
#page-numbers {
    margin-top: 20px;
    font-size: 16px;
}